:root {
  --cor-cinza: #4b4949;
  --cor-rosa: #ff1493;
  --oswald-font: "Oswald", sans-serif;
}

/* body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
} */

body {
  background-image: url("../images/preparando.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.agendamento {
  margin-top: 0%;
  margin-left: 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  position: relative;
  margin-top: -90%;
  display: flex;
  width: 160px;
  height: 30px;
  margin: 0px;
  padding: 5px;
  margin-right: 2%;
  border: 1.5px solid var(--cor-rosa);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.336);
  font-family: var(--oswald-font);
  font-weight: 600;
  font-size: 20px;
  color: var(--cor-rosa);
  z-index: 1;
}


#relogio {
  width: 80px;
  z-index: 1;
}

#calendario {
  width: 80px;
  z-index: 1;
}

#saveBtn {
  width: 170px;
  height: 40px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.336);
  border: 1px solid var(--cor-rosa);
  border-radius: 5px;
  color: var(--cor-rosa);
  font-family: var(--oswald-font);
  font-weight: 600;
}

button:focus {
  outline: 2px solid var(--cor-rosa);
}

#ketlyn_lash {
  width: 380px;
  height: 280px;
  margin-top: 10%;
  margin-left: 2%;
  font-weight: 900;
}

#botao-zap {
  width: 40px;
}

.custom-select {
  width: 170px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.336);
  border: 1px solid var(--cor-rosa);
  color: var(--cor-rosa);
  font-family: var(--oswald-font);
  font-weight: 600;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
