:root {
  --cor-cinza: #4b4949;
  --cor-rosa: #ff1493;
  --oswald-font: "Oswald", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#datetimepickerComponent {
  margin-top: 20%;
  margin-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: -90%;
  display: flex;
  width: 140px;
  height: 30px;
  margin:  0px;
  padding: 5px;
  margin-right: 20%;
  border: 1.5px solid var(--cor-rosa);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.336);
  font-family: var(--oswald-font);
  font-weight: 600;
  font-size: 15px;
  color: var(--cor-rosa);
  z-index: 1;
}

#relogio {
  width: 60px;
  z-index: 1;
  margin-left: -20%;
}

#calendario {
  width: 60px;
  z-index: 1;
  margin-left: -20%;
}

#saveBtn {
  margin-top: 20%;
  width: 120px;
  height: 40px;
  margin: 10px;
  padding: 5px;
  margin-left: 2%;
  background-color: rgba(0, 0, 0, 0.336);
  border: 1px solid var(--cor-cinza);
  border-radius: 5px;
  color: var(--cor-rosa);
  font-family: var(--oswald-font);
  font-weight: 600;
}

button:focus {
  outline: 2px solid var(--cor-rosa);
}


#ketlyn_lash {
  width: 400px;
  margin-top: 10%;
  font-weight: 900;
}