:root {
  --cor-cinza: #4b4949;
  --cor-rosa: #ff1493;
  --oswald-font: "Oswald", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#datetimepickerComponent {
  margin-top: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  margin-top: -90%;
  display: flex;
  width: 150px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border: 1.5px solid var(--cor-rosa);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.336);
  font-family: var(--oswald-font);
  font-weight: 600;
  margin-right: 20px;
  z-index: 1;
}

#relogio {
  width: 70px;
  z-index: 1;
}

#calendario {
  width: 70px;
}

#saveBtn