body {
  font-family: var(--roboto-condensed);
  background-color: var(--cor-rosa);
  background-position: center;
  background-size: cover;
}

#foto-perfil {
  margin-top: 10%;
  margin-left: 8%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}