:root {
  --cor-cinza: #4b4949;
  --cor-rosa: #ff1493;
  --cor-background: rgba(0, 0, 0, 0.747);
  --oswald-font: "Oswald", sans-serif;
  --parisienne-font: "Parisienne";
  --luthier-font: "Luthier";
}

@font-face {
  font-family: "Luthier";
  src: url("../fonts/LuthierFF/Luthier-Regular.ttf") format("truetype");
  /* Adicione mais formatos (e.g. woff, woff2) conforme necessário */
}

@font-face {
  font-family: "Parisienne";
  src: url("../fonts/Parisienne-Regular.ttf") format("truetype");
  /* Adicione mais formatos (e.g. woff, woff2) conforme necessário */
}

/* body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
} */

body {
  background-image: url("../Images/preparando.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}

.agendamento {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  position: relative;
  margin-top: -60%;
  display: flex;
  width: 160px;
  height: 35px;
  margin: 20px;
  padding: 5px;
  margin-right: 2px;
  border: 1.8px solid var(--cor-rosa);
  border-radius: 5px;
  background-color: var(--cor-background);
  font-family: var(--oswald-font);
  font-weight: 600;
  font-size: 17.5px;
  color: var(--cor-rosa);
  z-index: 1;
}

input::placeholder {
  text-align: center;
  color: var(--cor-rosa);
}

#iconesinput {
  margin-left: 0%;
  margin: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#relogio {
  text-align: center;
  width: 40px;
  z-index: 1;
  margin-top: -10px;
  margin-left: 30px;
}

#calendario {
  text-align: center;
  width: 40px;
  z-index: 1;
  margin-bottom: 40px;
  margin-left: 30px;
}

#saveBtn {
  width: 170px;
  height: 45px;
  padding: 5px;
  margin-left: 20px;
  font-size: 17.5px;
  background-color: var(--cor-background);
  border: 1.8px solid var(--cor-rosa);
  border-radius: 5px;
  color: var(--cor-rosa);
  font-family: var(--oswald-font);
  font-weight: 600;
}

button:focus {
  outline: 2px solid var(--cor-rosa);
}

/* #ketlyn_lash {
  width: 380px;
  height: 280px;
  margin-top: 2%;
  margin-left: 2%;
  font-weight: 900;
} */

#ketlyn p {
  font-family: var(--luthier-font);
  margin-top: -15px;
  font-style: italic;
  font-size: 20px;
  color: var(--cor-rosa);
  font-weight: 600;
  text-wrap: nowrap;
  text-align: center;
  margin-bottom: 80px;
}

#ketlyn h1 {
  text-align: center;
  font-family: "Parisienne";
  color: var(--cor-rosa);
  font-style: oblique;
  font-weight: 900;
  font-size: 40px;
  text-wrap: nowrap;
  margin-left: -6px;
}

.custom-select {
  margin-bottom: 18px;
  width: 170px;
  height: 45px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 16.5px;
  background-color: var(--cor-background);
  border: 1.8px solid var(--cor-rosa);
  color: var(--cor-rosa);
  font-family: var(--oswald-font);
  font-weight: 600;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="datepicker"]::-webkit-calendar-picker-indicator {
  display: none;
}
