:root {
  --cor-cinza: #4b4949;
  --cor-rosa: #ff1493;
  --parisienne-font: "Parisienne";
  --luthier-font: "Luthier";
}

body {
  /* background-image: url("../Images/preparando.jpg"); */
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #f9d3dd;
}

@font-face {
  font-family: "Luthier";
  src: url("../fonts/LuthierFF/Luthier-Regular.ttf") format("truetype");
  /* Adicione mais formatos (e.g. woff, woff2) conforme necessário */
}

@font-face {
  font-family: "Parisienne";
  src: url("../fonts/Parisienne-Regular.ttf") format("truetype");
  /* Adicione mais formatos (e.g. woff, woff2) conforme necessário */
}

.modelos,
img {
  width: 100px;
  height: 100px;
  padding: 35px 5px;
  border-radius: 50%;
}

#descricao {
  color: var(--cor-rosa);
  margin-top: -35%;
  margin-left: 40%;
  h1 {
    font-family: var(--parisienne-font);
    text-wrap: nowrap;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: -15px;
  }
  p {
    font-family: var(--luthier-font);
    font-size: 20px;
    font-weight: 600;
  }
}

#volumehibrido {
  margin-top: 25%;
}

#volumebrasileiro {
  margin-top: 20%;
}

#img-volume-egipcio {
  margin-top: -20px;
}

#img-volume-hibrido {
  margin-top: 30px;
}

#img-volume-brasileiro {
  margin-top: 30px;
}
